<%- include('../includes/header') %>
    <link rel="stylesheet" href="/css/button-form.css">
    <style>
        main{
            margin-left: 30px;
        }
        h1{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <%- include('../includes/navigation') %>
    <main class="main-list">
        <h1>Configurações!</h1>
        <a href="/admin/addQuarto">Adicionar Quarto</a>
        <a href="/admin/addServico">Adicionar Serviço</a>
    </main>
</body>
</html>