<header>
    <ul class="navigation">
        <li><a href="/quartos" class="<%= path === '/quartos' ? 'active':'' %>">Quartos</a></li>
        <li><a href="/usuario" class="<%= path === '/usuario' ? 'active':'' %>">Usuário</a></li>
        <li><a href="/admin/servicos" class="<%= path === '/admin/servicos' ? 'active':'' %>">Serviços</a></li>
        <li><a href="/admin/hotelConfig" class="<%= path === '/admin/hotelConfig' ? 'active':'' %>">Configurações</a></li>
    </ul>
<header>